/* Splash Screen */

@keyframes splashcloud1 {
	to {
		top: 40%;
		left: -30%;
		width: 30%;
	}
}

@keyframes splashcloud2 {
	to {
		top: 5%;
		left: -10%;
		width: 40%;
	}
}

@keyframes splashcloud3 {
	to {
		top: 15%;
		left: 80%;
		width: 70%;
	}
}

@keyframes splashmountains {
	to {
		top: 63%;
		left: -135%;
		width: 200%;
	}
}

@keyframes splashstone {
	to {
		top: 63%;
		left: -20%;
		width: 200%;
	}
}

@keyframes splashforest {
	to {
		top: 63%;
		left: -20%;
		width: 140%;
	}
}

@keyframes splashlogo {
	to {
		top: 10%;
		left: 38%;
		width: 24%;
	}
}

@keyframes splashbutton {
	to {
		top: 65%;
		opacity: 1;
	}
}


/* Clouds */

@keyframes cloud-movement {
	50% {
		transform: translateY(7%);
	}
}


/* Character Selection Screen */

@keyframes char-sel-right-anim {
	25% {
		transform: translateX(50px);
		opacity: 0;
	}
	75% {
		transform: translateX(-50px);
		opacity: 0;
	}
}

@keyframes char-sel-left-anim {
	25% {
		transform: translateX(-50px);
		opacity: 0;
	}
	75% {
		transform: translateX(50px);
		opacity: 0;
	}
}


/* Speech Container */

@keyframes speech-container-anim {
	50% {
		transform: translateY(-10%);
	}
}

@keyframes speech-circle-anim {
	50% {
		filter: brightness(1);
	}
}


/* Flashing Objects */

@keyframes oven-pulse {
	25% {
		filter: brightness(1.5);
	}
	50% {
		filter: brightness(1);
	}
	75% {
		filter: brightness(1.5);
	}
}


/* Scene Change Arrow Hover */

@keyframes arrow-pulse {
	50% {
		width: 7%;
		transform: translate(-5%, -5%);
	}
}