@keyframes slide-frombottom {
	0% {
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-totop {
	100% {
		transform: translateY(-50px);
		opacity: 0;
	}
}

@keyframes cloud-movement {
	50% {
		transform: translateY(7%);
	}
}

@keyframes char-sel-right-anim {
	25% {
		transform: translateX(50px);
		opacity: 0;
	}
	75% {
		transform: translateX(-50px);
		opacity: 0;
	}
}

@keyframes char-sel-left-anim {
	25% {
		transform: translateX(-50px);
		opacity: 0;
	}
	75% {
		transform: translateX(50px);
		opacity: 0;
	}
}

@keyframes oven-pulse {
	25% {
		filter: brightness(1.5);
	}
	50% {
		filter: brightness(1);
	}
	75% {
		filter: brightness(1.5);
	}
}

@keyframes arrow-pulse {
	50% {
		width: 7%;
		transform: translate(-5%, -5%);
	}
}