.caveinteriorscene {
	background: linear-gradient(to left, $mountain-mediumgrey, $forest-brown) no-repeat center center;
	background-size: cover;
	opacity: 0;
	.caveinteriorscene-ground {
		position: absolute;
		bottom: -3%;
		left: -1%;
		width: 102%;
	}
	.caveinteriorscene-generator {
		position: absolute;
		width: 57%;
		left: 3%;
		top: -2%;
	}
	.caveinteriorscene-rock-container {
		img {
			position: absolute;
			/* GREY ROCKS */
			&:nth-child(1) {
				width: 3%;
				bottom: 41%;
				right: 34%;
				transform: scaleX(-1);
			}
			&:nth-child(2) {
				width: 3%;
				bottom: 40%;
				right: 36%;
				transform: scaleX(-1);
			}
			&:nth-child(3) {
				width: 5%;
				bottom: 38%;
				right: 32%;
				transform: scaleX(-1);
			}
			&:nth-child(4) {
				width: 3%;
				bottom: 35%;
				right: 36%;
				transform: scaleX(-1);
			}
			&:nth-child(5) {
				width: 6%;
				bottom: 26%;
				right: -2%;
				transform: scaleX(-1);
			}
			/* BROWN ROCKS */
			&:nth-child(6) {
				width: 8%;
				bottom: 2%;
				left: -1%;
			}
			&:nth-child(7) {
				width: 4%;
				bottom: 1%;
				left: 3%;
			}
			&:nth-child(8) {
				width: 8%;
				bottom: -4%;
				left: -4%;
			}
			&:nth-child(9) {
				width: 4%;
				bottom: 14%;
				left: 15%;
			}
			&:nth-child(10) {
				width: 4%;
				bottom: 2%;
				right: 35%;
			}
			&:nth-child(11) {
				width: 4%;
				bottom: 0;
				right: 38%;
			}
			&:nth-child(12) {
				width: 7%;
				bottom: -4%;
				right: 32%;
			}
		}
	}
	.caveinteriorscene-pillar-container {
		img {
			position: absolute;
			&:nth-child(1) {
				width: 10%;
				top: -5%;
				left: -2%;
			}
			&:nth-child(2) {
				width: 6%;
				top: -6%;
				left: 14%;
			}
			&:nth-child(3) {
				width: 11%;
				top: -9%;
				right: 30%;
			}
			&:nth-child(4) {
				width: 5%;
				top: -15%;
				right: 6%;
			}
			&:nth-child(5) {
				width: 5%;
				top: -2%;
				right: -1%;
			}
			&:nth-child(6) {
				width: 10%;
				bottom: -2%;
				right: -1%;
				transform: scaleY(-1);
			}
			&:nth-child(7) {
				width: 10%;
				bottom: -12%;
				right: 6%;
				transform: scaleY(-1);
			}
		}
	}
	.kenneth-speech-container {
		bottom: 53%;
		left: 29%;
	}
	.kenneth {
		position: absolute;
		top: 37%;
		left: 18%;
		width: 15%;
	}
}