.houseinteriorscene {
	background-color: $main-yellow;
//	opacity: 0;
	.houseinteriorscene-wallpaper {
		position: absolute;
		width: 80%;
		right: -2%;
		top: -2%;
	}
	.houseinteriorscene-counter-window {
		position: absolute;
		width: 60%;
		right: -3%;
		bottom: 18%;
	}
	.houseinteriorscene-oven {
		position: absolute;
		width: 40%;
		left: 2%;
		top: -1%;
	}
	.houseinteriorscene-ground {
		position: absolute;
		bottom: -3%;
		left: -1%;
		width: 102%;
	}
}

.tabetha {
	position: absolute;
	top: 28%;
	right: 15%;
	width: 18%;
}

.tabetha-speech-container {
	bottom: 65%;
	right: 35%;
	border-radius: 60px 60px 10px 60px;
}