.splash-container {
	background: linear-gradient(to bottom left, $main-blue, $white) no-repeat center center;
	background-size: cover;
	img {
		position: absolute;
		pointer-events: none;
		&:nth-child(1) {
			top: 20%;
			left: 5%;
			width: 20%;
			animation: splashcloud1 5s forwards;
		}
		&:nth-child(2) {
			top: -5%;
			left: 20%;
			width: 30%;
			animation: splashcloud2 5s forwards;
		}
		&:nth-child(3) {
			top: 5%;
			left: 60%;
			width: 50%;
			animation: splashcloud3 5s forwards;
		}
		&:nth-child(4) {
			top: 35%;
			left: -10%;
			width: 110%;
			animation: splashforest 4s forwards;
		}
		&:nth-child(5) {
			top: 100%;
			left: 44.5%;
			width: 10%;
			animation: splashlogo 3s forwards;
		}
		&:nth-child(7) {
			top: 45%;
			left: -10%;
			width: 110%;
			animation: splashstone 3s forwards;
		}
		&:nth-child(8) {
			top: 35%;
			left: -10%;
			width: 100%;
			animation: splashmountains 2s forwards;
		}
	}
	.splash-logo {
		position: absolute;
	}
	.splash-start {
		opacity: 0;
		position: absolute;
		width: 16%;
		left: 42%;
		top: 75%;
		animation: splashbutton 2s forwards;
		animation-delay: 2s;
	}
}