.summitscene {
	background: linear-gradient(to bottom left, $mountain-blue, $mountain-teal) no-repeat center center;
	background-size: cover;
	opacity: 0;
	.summitscene-ground {
		position: absolute;
		bottom: -3%;
		left: -3%;
		width: 105%;
	}
	.summitscene-mountain-container {
		img {
			position: absolute;
			&:nth-child(1) {
				top: -13%;
				right: 10%;
				width: 80%;
			}
			&:nth-child(2) {
				top: -15%;
				left: -17%;
				width: 50%;
			}
			&:nth-child(3) {
				top: -11%;
				right: -10%;
				width: 50%;
			}
		}
	}
	.summitscene-bg-foliage-container {
		img {
			position: absolute;
			&:nth-child(1) {
				top: 27%;
				left: 8%;
				width: 14%;
			}
			&:nth-child(2) {
				top: 9%;
				right: 30%;
				width: 14%;
			}
		}
	}
	.summitscene-smallrock-container {
		img {
			position: absolute;
			&:nth-child(1) {
				top: 44%;
				left: 4%;
				width: 4%;
			}
			&:nth-child(2) {
				top: 45%;
				left: -1%;
				width: 6%;
			}
			&:nth-child(3) {
				top: 47%;
				left: 3%;
				width: 6%;
			}
			&:nth-child(4) {
				top: 52%;
				left: 1%;
				width: 4%;
			}
			&:nth-child(5) {
				top: 56%;
				left: 3%;
				width: 2%;
			}
			&:nth-child(6) {
				bottom: 35%;
				right: 29%;
				width: 2%;
			}
			&:nth-child(7) {
				bottom: 30%;
				right: 31%;
				width: 6%;
			}
			&:nth-child(8) {
				bottom: 29%;
				right: 28%;
				width: 4%;
			}
		}
	}
	.summitscene-fg-bush-container {
		img {
			position: absolute;
			&:nth-child(1) {
				bottom: 22%;
				right: 7%;
				width: 16%;
			}
			&:nth-child(2) {
				bottom: -3%;
				left: -5%;
				width: 18%;
			}
			&:nth-child(3) {
				bottom: -13%;
				left: 8%;
				width: 18%;
			}
		}
	}
}

	